<article class="prose max-w-full dark:prose-invert">
  <header>
    <h1>
      {{ with .Title }}{{ . | emojify }}{{ end }}
      {{ with .OutputFormats.Get "atom" }}
      <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS" style="display: inline-block; vertical-align: bottom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" height="23">
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
          </svg>
      </a>
      {{ end }}
    </h1>
  </header>
  <section>{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
