{{ with .Params.externalUrl }}
  <div>
    <a
      class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
      href="{{ . }}"
      target="_blank"
      rel="external"
      >{{ $.Title | emojify }}</a
    >
    <span
      class="cursor-default align-top text-xs text-neutral-400 dark:text-neutral-500"
      title="{{ i18n "list.externalurl_title" }}"
    >
      <span class="rtl:hidden">&#8599;</span>
      <span class="ltr:hidden">&#8598;</span>
    </span>
  </div>
{{ else }}
  <a
    class="decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
    href="{{ .Permalink }}"
    >{{ .Title | emojify }}</a
  >
{{ end }}
